# General Ignored Folders (Anywhere in project)
node_modules/
venv/
__pycache__/
dist/
build/
.idea/
.vscode/
.DS_Store

# Environment & Secrets
.env
*.env
instance/

# Specific files
*.log
*.sqlite3
*.db
*.pyc