@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: "Inter", sans-serif;
    --color-ide-bg: #130505;
    --color-ide-accent: #DC2626;
    --color-ide-border: #2E2E2E;
    --color-scrollbar-thumb: #2E2E2E;
    --color-scrollbar-hover: #404040;
}

@layer base {
    html, body {
      @apply overscroll-none h-screen w-screen overflow-hidden antialiased;
      font-family: var(--font-sans);
      background-color: var(--color-ide-bg);
    }
  
    #root {
      @apply h-full;
    }
}

@layer utilities {
    .scrollbar-none {
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }